 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 219px;
}

.u-section-1 .u-image-1 {
  width: 188px;
  height: 184px;
  margin: 18px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 114px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 703px;
  margin: 10px auto 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(#478ac9, #e9f2fa);
}

.u-section-3 .u-sheet-1 {
  min-height: 247px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 39px auto 0 43px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -2px 43px 0 auto;
}

.u-section-3 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -55px auto 0 43px;
}

.u-section-3 .u-text-1 {
  margin: 26px 17px 56px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: url("images/WhatsAppImage2022-03-05at13.26.39.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 965px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 1132px;
  margin: 45px 0 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 762px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 1px 0 0;
}

.u-section-4 .u-group-1 {
  width: 90px;
  min-height: 90px;
  background-image: none;
  margin: 8px auto 0 11px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  width: 38px;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  background-image: none;
  margin: 38px 2px 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 57px 1px 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 1px 0 0;
}

.u-section-4 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-image: none;
  margin: 8px auto 0 11px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  line-height: 1;
  width: 38px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  background-image: none;
  margin: 38px 2px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 57px 1px 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 1px 0 0;
}

.u-section-4 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-image: none;
  margin: 8px auto 0 11px;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  line-height: 1;
  width: 38px;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  text-transform: uppercase;
  background-image: none;
  margin: 38px 2px 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-9 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 57px 1px 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 1px 0 0;
}

.u-section-4 .u-group-4 {
  width: 90px;
  min-height: 90px;
  background-image: none;
  margin: 8px auto 0 11px;
}

.u-section-4 .u-container-layout-8 {
  padding: 10px;
}

.u-section-4 .u-text-10 {
  font-size: 3rem;
  line-height: 1;
  width: 38px;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  background-image: none;
  margin: 38px 2px 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-12 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 57px 1px 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-9 {
  padding: 0 1px 0 0;
}

.u-section-4 .u-group-5 {
  width: 90px;
  min-height: 90px;
  background-image: none;
  margin: 8px auto 0 11px;
}

.u-section-4 .u-container-layout-10 {
  padding: 10px;
}

.u-section-4 .u-text-13 {
  font-size: 3rem;
  line-height: 1;
  width: 38px;
  margin: 0 auto;
}

.u-section-4 .u-text-14 {
  text-transform: uppercase;
  background-image: none;
  margin: 38px 2px 0;
}

.u-section-4 .u-text-15 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 57px 1px 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-11 {
  padding: 0 1px 0 0;
}

.u-section-4 .u-group-6 {
  width: 90px;
  min-height: 90px;
  background-image: none;
  margin: 8px auto 0 11px;
}

.u-section-4 .u-container-layout-12 {
  padding: 10px;
}

.u-section-4 .u-text-16 {
  font-size: 3rem;
  line-height: 1;
  width: 38px;
  margin: 0 auto;
}

.u-section-4 .u-text-17 {
  text-transform: uppercase;
  background-image: none;
  margin: 38px 2px 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  border-style: none;
}

.u-section-4 .u-text-18 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 57px 1px 0;
}

.u-section-4 .u-shape-1 {
  width: 121px;
  height: 75px;
  margin: 38px 0 46px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 524px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    width: 214px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
    width: 214px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
    width: 214px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
    width: 214px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
    width: 214px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
    width: 214px;
  }

  .u-section-4 .u-btn-5 {
    padding: 0;
  }

  .u-section-4 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 903px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}